#sa
name: Deployment Otomatis ke cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kode
        uses: actions/checkout@v4
      
      - name: Deploy dan Sync ke Public
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}

          script: |
            cd /home/akevyrfm/public_html
            git pull origin main
            echo "Kode terbaru berhasil di-pull ke repositori aman."

            rsync -avz --delete /home/akevyrfm/repositories/School-Management-System/ /home/akevyrfm/public_html
            
            echo "File berhasil di-sync ke folder publik!"
            echo "Deployment Selesai!"

            
