name: Deployment Otomatis ke cPanel

on:
  push:
    branches:
      - main # Pastikan ini nama branch yang benar

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kode
        uses: actions/checkout@v4
      
      - name: Deploy via SSH dan Git Pull
        uses: appleboy/ssh-action@v1.0.1
        with:
          # HARUS menggunakan nama Secret, BUKAN nilai mentah
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # Pastikan nilai SSH_KEY_PASSPHRASE di GitHub adalah #Mandala1968
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}

          # Perintah yang dijalankan di server Anda
          script: cd /home/akevyrfm/public_html/
          git pull origin main
          echo "Deployment Selesai!"
